* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color: rgb(250, 250, 250);
  --secondary-background-color: rgb(240, 240, 240);
  --main-text-color: rgb(33, 37, 41);
  --secondary-text-color: rgb(255, 255, 255);
  --main-color: rgb(200, 200, 200);
  --border-color: rgb(48, 48, 48);
}

html,
body {
  background-color: var(--main-background-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
}

header > #content {
  padding: 32px;
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header-nav {
  display: grid;
  grid-auto-flow: column;
  gap: 0;
}

#header-nav button {
  background-color: var(--main-color);
  font-weight: bold;
  color: var(--secondary-text-color);
  border: solid;
  border-color: var(--border-color);
  border-radius: 15px;
  width: calc(75px + 0.25vw);
  height: calc(50px + 0.25vh);
}

main {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  padding: 20%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main section {
  background-color: var(--main-color);
  color: var(--secondary-text-color);
  border-radius: 10px;
  padding: 10%;
  gap: 15%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-section {
  margin: 2rem auto;
  text-align: center;
  line-height: 1.6;
}

fieldset {
  border: solid black;
  border-radius: 5px;
  padding: 25%;
}

button {
  cursor: pointer;
}
