* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color: rgb(250, 250, 250);
  --secondary-background-color: rgb(240, 240, 240);
  --main-text-color: rgb(33, 37, 41);
  --secondary-text-color: rgb(255, 255, 255);
  --main-color: rgb(200, 200, 200);
  --shadow-color: rgb(110, 110, 110);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
}

header > #content {
  padding: 32px;
  gap: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header-nav {
  display: grid;
  grid-auto-flow: column;
  gap: 6px;
}

#header-nav button {
  background-color: var(--main-color);
  font-weight: bold;
  color: var(--secondary-text-color);
  border: none;
  border-radius: 15px;
  box-shadow: 3px 3px 15px var(--shadow-color);
  width: calc(75px + 0.25vw);
  height: calc(50px + 0.25vh);
}

#header-nav button.active {
  color: var(--shadow-color);
}

main {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  padding: 15px;
  gap: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.main section {
  background-color: var(--main-color);
  color: var(--secondary-text-color);
  border-radius: 10px;
  padding: 10%;
  gap: 15%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.home-section {
  margin: 2rem auto;
  text-align: center;
  line-height: 1.6;
}

footer {
  background-color: var(--secondary-background-color);
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
  transition: color 200ms ease-out;
}

ul {
  list-style-type: none;
}
