body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container>img {
  transform: rotate(-45deg) scale(1.25, 1.5) skew(15deg);
}

#img2 {
  transform: perspective(1000px) rotate3d(0, 1, 1, 90deg);
}
